QPushButton#FailedButton {
    background-color: #f59b7c;
}

QPushButton#MultipleButton {
    background-color: #fed776;
}

QPushButton#SuccessButton {
    background-color: #c2ed98;
}

QPushButton#ChosenButton {
    background-color: #8ed2cd;
}

/*
'green'   : '#c2ed98',
'red'     : '#f59b7c',
'yellow'  : '#fed776',
'blue-ish': '#8ed2cd'
*/